# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
.env.local
.env.*

# Poetry
.poetry/

# IDEs
.idea/
.vscode/
*.swp

# Logs
*.log
logs/

# Coverage
htmlcov/
.tox/
.coverage
.coverage.*
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Docker
*.pid
*.sock
.env.docker

# Misc
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/node_modules/
frontend/build/
frontend/coverage/
frontend/cypress/screenshots/
frontend/cypress/videos/
