image:
  repository: public.ecr.aws/aws-secrets-manager/secrets-store-csi-driver-provider-aws
  tag: v1.3.3
  pullPolicy: IfNotPresent

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

serviceAccount:
  create: true
  name: secrets-store-csi-driver-provider-aws
  annotations:
    eks.amazonaws.com/role-arn: {{ requiredEnv "SECRETS_STORE_PROVIDER_ROLE_ARN" }}
